.background-overlay {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: black;
	opacity: 90%;
	z-index: 1;
}

.overlay-items {
	z-index: 2;
}

.overlay-items * {
	z-index: 2;
}

.red-bg {
	background-color: #f00404;
}

.red-text {
	color: #f00404;
}


.auth-container {
	
}

.auth-container > * {
	align-items: center;
} 

.pin-digit {
	height: 82px;
	background-color: #666666;
}
.pin-digit-container > * {
	width:100%; /* assuming there is only input */
}