<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/NeodvisenTv" version="1.0.0" viewmodes="maximized">
    <tizen:application id="AOd1l8QbBV.NeodvisenTv" package="AOd1l8QbBV" required_version="2.3"/>
    <author href="https://neodvisen.tv" email="info@imc.si">IMC d.o.o</author>
    <content src="index.html"/>
    <description>Televizija z lastno produkcijo avtorskih oddaj in izobraževalnih dokumentarnih filmov o pasteh sodobne družbe. 

Namen aplikacije je omogočiti dostop do vsebin, ki so namenjene:
- krepitvi družbene odgovornosti
- širjenju preventivnih informacij na širokem področju zasvojenosti in drugih pasteh sodobne družbe.

Vsebina aplikacije:
- oddaje priznanih strokovnjakov o temah s področja zasvojenosti in čustvovanja
- tematske izobraževalne dokumentarne oddaje in filmi strokovnjakov različnih področij: 
digitalne manipulacije, odnosi v družini in družbi, (ne)nadzorovana čustva in hormoni, razkrite pasti v svetu mladih idr.
- oddaje v živo
- za šole tudi dostop do oddaj za šolarje in njihove starše.

Vsebine so namenjene staršem, mladostnikom, učiteljem in drugim izobraževalcem ter vsem, ki bi radi izvedeli več o tem, kako prepoznati različne pasti sodobnega sveta in dobiti koristne informacije o temah s strani strokovnjakov.

Neodvisen.TV pomeni doprinos vseslovenskemu družbeno odgovornemu programu Neodvisen.si, ki ga platforma Neodvisen.TV dopolnjuje. 

Glejte vsebine na katerikoli napravi, brez oglasov. Dostop do enoletnega neomejenega ogleda vsebin pridobite z aktivacijsko kodo. 

Neodvisen.TV - v svojem slogu.

Ključne besede: zasvojenost, zdravje, nedovisen.si, videovsebine, televizija</description>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://www.samsungdforum.com/feature/Keyboard"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/use.ime" value="true"/>
    <name>Neodvisen TV</name>
    <name xml:lang="sl-si">Slovenian</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/imemanager"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" sound-mode="exclusive"/>
</widget>
